.resultContainer {
    margin-top: 50px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;

}

.player-loose {
    color: red;
}

.player-win {
    color: green;
}

.textMessage {
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

.winner {

    color: rgb(127, 236, 127);
    background-color: black;
}

.looser {

    color: red;
    background-color: black;
}

.newGame {
    background-color: blue;
    color: aliceblue;
    margin-left: 550px;
    margin-top: 10px;
    width: 155px;
    height: 100px;
    font-size: large;

}