.resultContainer {
    margin-top: 50px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    
}

.player-loose {
    color: red;
}

.player-win {
    color: green;
}

.textMessage {
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

 .winner {
   
    color: green;
    background-color: white;
 }

 .looser {
   
    color: red;
    background-color: black;
 }
